// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #90caa0;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light: #fdf9f6;
$dark: #293133;
