// Import Google fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Prophet-L", "Helvetica", "sans-serif";
$headers-font: "Romana", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines

@font-face {
    font-family: 'Prophet';
    src: url('abcprophet-bold-trial-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Prophet-L';
    src: url('abcprophet-light-trial-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Prophet';
    src: url('abcprophet-lightitalic-trial-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'Prophet';
    src: url('abcprophet-medium-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Romana';
    src: url('romanabtbold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Romana';
    src: url('romanabtroman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
