<div class="footer d-flex">
	<a href="#"><i class="fas fa-chart-pie"></i></a>
	<a href="#"><i class="far fa-list-alt"></i></a>
	<a href="#"><i class="fas fa-qrcode"></i></a>
	<a href="#"><i class="fas fa-percent"></i></a>
	<a href="#"><i class="fas fa-certificate"></i></a>
</div>