<div class="navbar d-flex">
	<%= image_tag "logo-bylo.svg", alt: "bylo logo", class: "logo-navbar"%>
	<a href="#"><i class="far fa-user"></i></a>
	<div style="<%= 'border-radius: 0%; bottom: 30%;' if params[:action] == 'index'%>" class="anim-navbar">
	</div>
</div>