    <div class="navbar navbar-retailer d-flex mx-5">
      	<%= image_tag "logo-bylo-w.svg", alt: "bylo logo", class: "logo-retailer"%>
     	 <div class="d-flex" style="align-items: center;">
     	 	<% if params[:action] == "index" %>
				<%= link_to "Créer un bon de réduction", new_voucher_path, style: "z-index: 1000; font-size: 12px;" %> 
				<p style="padding: 10px; color: white; font-size: 12px;">|</p>
			<% end %>
			<%= mail_to "bylo.developpers@gmail.com", "Besoin d'assistance ?", style: "z-index: 1000; font-size: 12px;" %>
  		</div>
    </div>
