<div class="banner" style="background-image: url(https://assets-global.website-files.com/5bfd6f4468ee7943c2d331dd/5ccb403ce40c772643b9e964_001.jpg);">
  <h1>Le Wagon brings tech skills to creative people!</h1>
  <p>Change your life and learn to code at one of our campuses around the world.</p>
</div>

<!-- code a "How it works" section -->

<div class="home-container">
  <h2>How it works</h2>

  <div class="home-cards">

    <div class="white-card">
      <img src="images/apply.svg" alt="apply">
      <h3>Apply</h3>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>

    <div class="white-card">
      <img src="images/learn.svg" alt="learn">
      <h3>Learn to code</h3>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>

    <div class="white-card">
      <img src="images/product.svg" alt="product">
      <h3>Build products</h3>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>

  </div>
</div>

<!-- code a footer -->

<div class="home-footer">
  <ul class="list-inline">
      <li>
        <a href="#" target="_blank">
          <i class="fab fa-github-square"></i> <!-- Github -->
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <i class="fab fa-twitter-square"></i> <!-- Twitter -->
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <i class="fab fa-medium"></i> <!-- Medium -->
        </a>
      </li>
    </ul>
  <p> This website was coded with <i class="fas fa-heart"></i> at Le Wagon. </p>
</div>
