<div class="banner" style="background: linear-gradient(-20deg, #ff9133, #1c2edf, #1c2edf);
            background-size: 500vw 200vh;
            animation: gradient 40s ease infinite;
            height: 100vh; width: 100.2vw !important; overflow: hidden;">

    <div class="animate-banner">
    <p>Marre de perdre constamment vos tickets de caisse ? Où est votre preuve d'achat quand vous devez faire valoir votre garantie ? Les promotions ne sont jamais faites pour vous ? <br><br>Beaucoup de problèmes qui sont voués à disparaitre avec Bylo ! Une offre personnalisée pour les particuliers et les commerçants.</p>

    <a href="#" class="btn-treehouse"> Rejoindre l'aventure </a>

  	<%= image_tag "home-mockup.png", alt: "blabla", class: "home-img" %>
  	</div>
</div>

<!-- code a "How it works" section -->

<div class="home-container">
	<h2>Comment ca marche ? </h2>
	<h2>Pourquoi utiliser Bylo ? </h2>
  	<h2>Qui sommes nous ? </h2>

</div>

<!-- code a footer -->

<div class="home-footer">
	  		<p> Restez informés 🤙 </p>
  <ul class="list-inline">
      <li>
        <a href="#" target="_blank">
          <i class="fab fa-instagram-square"></i> <!-- Insta -->
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <i class="fab fa-linkedin"></i> <!-- Linkedin -->
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <i class="fab fa-facebook-square"></i> <!-- Medium -->
        </a>
      </li>
    </ul>
</div>
