.profile {
  color: white;
  text-align: center;
  margin: 4vh 0 6vh 0;
}

.profile i {
  margin-bottom: 20px;
  font-size: 35px;
}

.profile h2 {
  font-size: 18px;
}

.profile p {
  font-size: 13px;
  font-weight: 300;
}