.button-group {
	margin: 3vh 30px 3vh 30px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, .2);
}

.button {
	background-color: whitesmoke;
	text-align: center;
    vertical-align: middle;
    padding: 2vh 10px;
    font-size: 13px;
    border-bottom: 1px solid lightgrey;
    transition: background-color 0.1s ease-in;
}

.button:active, .button:hover {
	background-color: lightgray;
}

.button a {
	margin: 0 !important;
	font-weight: 300;
	color: black;
}

.btn-red {
	color: red !important;
}

.rounded-button {
	margin: 10px;
	background-color: rgba(245, 245 ,245 , 0.2);
	border-radius: 30px;
	text-align: center;
    vertical-align: middle;
    padding: 2vh 10px;
    font-size: 13px;
    border: 1px solid white;
    transition: background-color 0.1s ease-in;
}

.rounded-button:active {
	background-color: rgba(245, 245 ,245 , 0.8);
}

a.rounded-button:active {
	color : blue !important;;
}

a.rounded-button {
	color : white !important;
}

i.back-white {
  position: absolute;
  top: 0;
  font-size: 30px;
  margin: 20px;
  color: white;
}

i.back {
	font-size: 30px;
	margin: 20px;
	color: blue;
}

i.modal-back {
	font-size: 30px;
	margin: 20px;
	position: absolute;
	color: blue;
	z-index: 100;
}

.button-left {
	background-color: whitesmoke;
    vertical-align: middle;
    padding: 3vh 20px;
    font-size: 16px;
    border-bottom: 1px solid lightgrey;
    transition: background-color 0.1s ease-in;
}

.button-left:active {
	background-color: lightgray;
}

.interupteur {
	background-color: whitesmoke;
    vertical-align: middle;
    padding: 3vh 20px;
    font-size: 16px;
    border-bottom: 1px solid lightgrey;
    transition: background-color 0.1s ease-in;
}

.interupteur :active {
	background-color: whitesmoke;
}

.button-left a {
	color: black;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: blue;
}

input:focus + .slider {
  box-shadow: 0 0 1px blue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.notice {
	margin-top: 2vh;
	color: lightgray;
	font-size: 14px;
}