.footer {
	position: fixed;
	bottom: 0px;
	width: 100vw;
	align-items: center;
	justify-content: space-around;
	background-color: whitesmoke;
	padding: 3vh 20px;
}

.footer i {
	font-size: 25px;
	color: lightgray;
}
