////////DEVISE////////////

.form-wrapper {
	height: 100vh;
	margin: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
	    padding: 20px;
}

.form-wrapper h2, .form-wrapper p{
	color: white;
}

.form-inputs {
	margin-bottom: 30px;
}

.input {
	display: flex;
	margin: 10px;
	height: 40px;
}

:placeholder-shown {
	color: white;
}

input {
	    // height: 40px;
	flex-grow: 1;
	border: 1px solid transparent;
	border-bottom: 1px solid white;
	padding: 5px 20px;
	background-color: rgba(245, 245 ,245 , 0);
	color: white;
}

input::placeholder {
	color: white;
	font-weight: 100;
	text-transform: uppercase;
	font-size: 12px;
	opacity: 1;
}

input:focus-visible::placeholder {
	color: white;
	opacity: 0.3;
}

:focus-visible {
	border-bottom: 1px solid white;
    outline: -webkit-focus-ring-color auto 0px;
}

input:focus::placeholder {
	display: none;
}

input:focus input::placeholder {
	display: none;
}

label {
	display: none;
}

label.checkbox {
	display: block;
}

.user_remember_me {
	color: white;
	padding: 10px;
	margin: 20px;
}

.user_remember_me.input {
	display: block;
}

.form-actions {
    background-color: white;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
}

.form-actions input {
    text-transform: uppercase;
}

input[type=checkbox]{
  margin: 0px 10px 0px 0px;
} 

.form-link {
	margin: 10px;
}

.form-link a {
	color: white !important;
	font-size: 12px;
	text-transform: uppercase;
}

.field_with_hint {
	flex-direction: column;
}

.hint {
	color: white;
	font-size: 10px;
}

.retailer_remember_me {
	color: white;
}

.category-wrapper-gender {
	    margin: 13px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
}

.category-selector.gender + label {
    border: 1px white solid;
    border-radius: 3px;
    opacity: .4;
        padding: 5px;
}

.category-selector.gender:checked + label {
	color: white;
	border: 1px white solid;
  opacity: 1 !important;
}

.gender.checkbox {
	color: white;
	font-weight: 100;
	text-transform: uppercase;
	font-size: 12px;
	opacity: 1;
}

////////FILTER////////////

.filter-form-wrapper {
	height: 100%;
	margin: 0 30px 30px 30px;
}

.filter-form-wrapper label {
	display: block;
	text-transform: uppercase;
	font-size: 10px;
	padding: 3px;
}

.index_filter_input {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.category-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.category-wrapper-retailer {
  display: flex;
    /* grid-template-columns: 1fr 1fr; */
    /* grid-gap: 5px; */
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    width: 100%;
        overflow: scroll;
        padding: 0 0 10px 0;
}

.category-wrapper-retailer::-webkit-scrollbar {
  display: none;
}

.category-item {
  flex: 0 0 0%;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  border: 1px black solid;
  border-radius: 3px;
  opacity: .4;
}

.category-selector:checked + label {
	color: blue;
	border: 1px blue solid;
  opacity: 1 !important;
}


.index_filter_input input {
	color: gray;
	border-bottom: 1px solid gray;
	font-size: 12px;
	opacity: 1;
	text-transform: uppercase;
	font-weight: 100;
}

.index_filter_input input::placeholder {
	color: gray;
}

.index_filter_retailer .index_filter_input input {
	display: none;
	transform: scale(0);
}

.index_filter_retailer .index_filter_input label {
	border: 1px black solid;
	border-radius: 3px;
	opacity: .4;
	margin: 0 5px;
	padding: 10px 20px;
	flex-grow: 1;
	white-space: nowrap;
	/* overflow: hidden; */
	text-overflow: ellipsis;
}

.index_filter_retailer input:checked + label {
		color: blue;
	border: 1px blue solid;
  opacity: 1 !important;
}

.btn-filter-submit {
	background-color: $blue;
	width: 100%;
	border-radius: 8px;
	border-bottom: 0px solid white;
	padding: 10px;
}


.price-label {
	font-size: 16px !important;
} 








