.navbar {
	position: sticky !important;
	top: 0;
	padding: 20px 25px 50px 25px !important;
	overflow: hidden;
	z-index: 110;
}

.navbar-scroll {
	//DO SOME JS WHEN SCROLL
}

.anim-navbar {
	background-color: $white;
	position: absolute;
    width: 170vw;
    height: 50vh;
	border-radius: 50%;
	transform-origin: center;
    bottom: 10%;
    left: -35%;
    z-index: -10;
   	box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, .1);
}

.navbar img {
	height: 50px;
}

.navbar i {
	font-size: 25px;
	color: lightgray;
}

.searchbar {
	position: absolute;
	bottom: 8px;
	justify-content: space-between;
	width: 87%;
}

.tag {
	font-size: 10px;
	line-height: 0.1;
	border: 1px lightgray solid;
	padding: 10px;
	border-radius: 15px;
}

p.tag {
	color: lightgray;
}

.searchbar i {
	font-size: 25px;
    line-height: 0.9;
}