.tableau {
	border: 1px solid lightgray;
	border-radius: 5px;
	overflow: hidden;
	margin: 20px 0px;
}

.tableau-cell {
	border-bottom: 1px solid lightgray;
	text-align: center;
	padding: 15px 10px;
	font-size: 14px;
}

.tableau-cell-receipt {
	text-align: left;
	border-bottom: 1px solid lightgray;
	padding: 15px 10px;
	font-size: 14px;
}

.tableau-cell > p > span {
	color: gray !important;
}

.last-line {
	border-bottom: 0px solid lightgray;
}

.retailer-name {
	font-weight: 500;
	font-size: 18px;
}

.item {
	flex-grow: 1;
    margin-left: 40px;
}