/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* TO DO : */

/* 1. fonts */
/* 2. colors */
/* 3. componants */

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
/*@import "flatpickr/dist/flatpickr";*/

// Your CSS partials
@import "components/index";
/*@import "pages/index";*/

body {
	background-color: #2340C9 !important;
	width: 100vw;
}

h1, h2, h3, h4, p, a {
	font-family: "Poppins" !important;
	margin-bottom: 0.1rem !important;
}

/* Add JS to : */
.current-link {
	color: #2340C9 !important;
}