<h1>Vouchers#filter</h1>
<p>Find me in app/views/vouchers/filter.html.erb</p>


  <%= link_to vouchers_path do %>
    <i class="fas fa-chevron-left back"></i>
  <% end %>

  <%= form_with url: vouchers_path, method: :get do |form| %>
    <div class="category-wrapper-retailer">
        <%= form.collection_check_boxes "filters[items.product_id]", @products, :id, :name , include_hidden: false, class: "filter-btn category-item" %>
    </div>
    <%= form.submit 'Filtrer', class: "mb-5 btn-filter-submit"%>
  <% end %>
  

  